@CHARSET "UTF-8";

body{
    background: black;
    text-align: center;
}

#background{
    width: 10%;
}

#time{
    margin:5%;
}

.checkbox-label .checkbox-custom{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
}

.checkbox-label .checkbox-custom::after{
    position: absolute;
    content: "";
    left:12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #C4012F;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity: 1;
}

.checkbox-label input:checked ~ .checkbox-custom{
    background-color:#FFFFFF;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity: 1;
    border: 2px solid #FFFFFF;
}

.checkbox-label input:checked ~ .checkbox-custom::after{
    -webkit-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: 2px solid #C4012F;
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

.checkbox-label .checkbox-custom::before{
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.checkbox-label input:checked ~ .checkbox-custom::before{
    left: -3px;
    top: -3px;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity: 0;
    z-index: 999;
    transition: all .5 ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;

}

.fsSubmitButton
{
padding: 10px 20px 11px !important;
background-color: #C4012F;
font-weight: bold;
font-family: 'Lobster', cursive; 
text-shadow: 1px 1px black;
color: #ffffff;
border-radius: 100px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
border: 1px solid #C4012F;
cursor: pointer;
box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
margin: 15%;
}

.grid-item {
    background-color: #C4012F;
    border: 1px solid white;
    padding: 10px;
    margin:3px;
    font-size: 30px;
    color: white;
    font-family: 'Lobster', cursive; 
    text-align: center;
    border-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  background-color: white;
  border-radius: 10px;
  margin-top:50px;
}

#userWrapper{
    position: absolute;
}

.currentUser{
    display: inline;
    margin: 10px;
    top: 50px; 
    position: absolute;
}

#logWrapper{
    width: 50%;
    position: absolute;
    display:block;
    top: 10px;
    left:50%;
    transform:translateX(-50%);
}

#switchboygirl{
    position: relative;
    margin: -5% auto;
}

.boygirl{
    display: inline;
}



.name{
    font-family: 'Lobster', cursive;
    color: white;
    padding : 10px;
    margin  : 5px auto;
    background : #C4012F;
    border-radius: 10%;
    border: white solid 2px;
    display : block;
}


input::placeholder {
  color: white;
  font-family: 'Lobster', cursive;
  
}

.Text{
    font-family: 'Lobster', cursive;
    color:white;
    font-size:20px;

}

.textPlacement{
    
    display: block;
}

.slider.round {
  border-radius: 34px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 6vw;
  height: 4vw;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 3vw;
  width: 3vw;
  left: .5vw;
  bottom: .5vw;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #C4012F;
}

input:focus + .slider {
  box-shadow: 0 0 1px #C4012F;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2vw);
  -ms-transform: translateX(2vw);
  transform: translateX(2vw);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.custom-select-wrapper {
     position: relative;
     user-select: none;
     width: 100%;
}
 .custom-select {
     position: relative;
     display: flex;
     flex-direction: column;
     border-width: 0 2px 0 2px;
     border-style: solid;
     border-color: #394a6d;
}
 .custom-select__trigger {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 22px;
     font-size: 20px;
     font-weight: 300;
     color: #3b3b3b;
     height: 60px;
     line-height: 60px;
     background: #ffffff;
     cursor: pointer;
     border-width: 2px 0 2px 0;
     border-style: solid;
     border-color: #394a6d;
}
 .custom-options {
     position: absolute;
     display: block;
     top: 100%;
     left: 0;
     right: 0;
     border: 2px solid #394a6d;
     border-top: 0;
     background: #fff;
     transition: all 0.5s;
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
     z-index: 2;
}
 .custom-select.open .custom-options {
     opacity: 1;
     visibility: visible;
     pointer-events: all;
}
 .custom-option {
     position: relative;
     display: block;
     padding: 0 22px 0 22px;
     font-size: 22px;
     font-weight: 300;
     color: #3b3b3b;
     line-height: 60px;
     cursor: pointer;
     transition: all 0.5s;
}
 .custom-option:hover {
     cursor: pointer;
     background-color: #b2b2b2;
}
 .custom-option.selected {
     color: #ffffff;
     background-color: #305c91;
}

*, *:after, *:before {
     box-sizing: border-box;
}
 
 $dark: #35414a;
$semilight: #86919a;
$blue: #5aafee;
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: pfs-bold;
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/PFSquareSansPro-Bold.otf');
}
body {
  background: $dark;
}
.drop {
  width: 20em;
  margin: 5em auto;
  font-family: pfs-bold;
  color: $semilight;
  text-transform: uppercase;
  position: relative;
  transition: width 0.5s;
  will-change: width;
  
  .option {
    padding: 1em;
    cursor: pointer;
    background-color: #485761;
    
    &:not(.active) {
      display: none;
      opacity: 0;
      transform: translateY(-50%);
    }
  }
  
  &.visible {
    animation: bounce 1s;
    width: 24em;
    
    &:before, &:after {
      border-color: #fff;
    }
    &:before {
      opacity: 0;
    }
    &:after {
      opacity: 1;
    }
    
    .option {
      color: #fff;
      display: block;
    }
  }
  
  &.opacity {
    
    .option {
      transform: translateZ(0);
      opacity: 1;
      
      @for $i from 0 to 10 {
        &:nth-child(#{$i}) {
          transition: opacity 0.5s 0.1s*$i, transform 0.5s 0.1s*$i;
        }
      }
    }
  }

&.withBG {
  
  .option {
    transition: background-color 0.1s;

    &:not(.placeholder):hover {
      background-color: $blue;
    }

    &:not(.placeholder).active {
      background-color: $blue;
    }
  }
}
  
  &:after, &:before {
    content: "";
    position: absolute;
    top: 1.5em;
    right: 1em;
    width: 0.75em;
    height: 0.75em;
    border: 0.2em solid $semilight;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    transition: opacity 0.2s;
  }
  &:before {
    border-left: none;
    border-top: none;
    top: 1.2em;
  }
  &:after {
    border-right: none;
    border-bottom: none;
    opacity: 0;
  }
}

.mini-hack {
  opacity: 0;
  transform: translateY(-50%);
}